{% extends "/auth/baseauth.html" %}
{% block error %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger d-flex align-items-center position-absolute error-alert fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-exclamation-triangle-fill align-text-top me-2" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
                <div class="me-4">{{ messages[0] }}</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
{% block content %}
    <h2 class="display-6 fw-normal">Register</h2>
        <form method="post">
            <div class="form-group d-flex flex-column py-2">
                <label class="text-start" for="email">Email Address</label>
                <input autocomplete="email" autofocus type="email" name="email" class="form-control p-2" placeholder="Email*" id="email" required>
            </div>
            <div class="form-group d-flex flex-column py-2 my-2">
                <label class="text-start" for="password">Password</label>
                <input type="password" name="password" class="form-control p-2" placeholder="Password*" id="password" required>
            </div>
            <div class="form-group d-flex flex-column py-2 my-2">
                <label class="text-start" for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" class="form-control p-2" placeholder="Confirm your Password*" id="confirm_password" required>
            </div>
            <div class="form-group py-2 my-2 text-start">
                <input type="checkbox" class="form-check-input mr-2" name="terms" id="terms" required>
                <label for="terms" class="form-check-label">I agree to the <a href="#">Terms and Conditions</a></label>
            </div>
            <button type="submit" class="btn btn-primary w-100 btn-lg mt-1">Register</button>
        </form>
{% endblock %}

{% block login %}
        <a class="mt-4 text-white fw-bold text-decoration-none" href="{{ url_for('auth.login')}}">Already have an account? Sign in here</a>
{% endblock %}