.btn-primary{
    background-color: #fd7e14;
    border-width: 1px;
    border-color: #fd7e14;
    transition: background-color 0.3s;
    --bs-btn-color: #fff;
    --bs-btn-bg: #fd7e14;
    --bs-btn-border-color: #fd7e14;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ca6510;
    --bs-btn-hover-border-color: #ca6510;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ca6510;
    --bs-btn-active-border-color: #ca6510;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fd7e14;
    --bs-btn-disabled-border-color: #fd7e14;
}

.btn-outline-primary {
    --bs-btn-color: #fd7e14;
    --bs-btn-border-color: #fd7e14;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fd7e14;
    --bs-btn-hover-border-color: #fd7e14;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fd7e14;
    --bs-btn-active-border-color: #fd7e14;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fd7e14;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #fd7e14;
    --bs-gradient: none;
}

.border-primary {
    --bs-border-opacity: 1;
    border-color: #fd7e14 !important;
}
.text-bg-primary {
    color: #fff !important;
    background-color: #fd7e14 !important;
}

.icon-square {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: .75rem;
}

.max {
    max-width: 1140px;
}