* {
    --bs-primary-rgb: 253, 126, 20;
    --bs-link-color-rgb: 253, 126, 20;
    --bs-link-hover-color-rgb: 202, 101, 16;
    --bs-link-hover-color: #ca6510;
}

.btn-primary{
    background-color: #fd7e14;
    border-width: 1px;
    border-color: #fd7e14;
    transition: background-color 0.3s;
    --bs-btn-color: #fff;
    --bs-btn-bg: #fd7e14;
    --bs-btn-border-color: #fd7e14;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #ca6510;
    --bs-btn-hover-border-color: #ca6510;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #ca6510;
    --bs-btn-active-border-color: #ca6510;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fd7e14;
    --bs-btn-disabled-border-color: #fd7e14;
}

.bg-primary{
    background-color: #fd7e14;
}

.btn-outline-primary {
    --bs-btn-color: #fd7e14;
    --bs-btn-border-color: #fd7e14;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fd7e14;
    --bs-btn-hover-border-color: #fd7e14;
    --bs-btn-focus-shadow-rgb: 13, 110, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fd7e14;
    --bs-btn-active-border-color: #fd7e14;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fd7e14;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #fd7e14;
    --bs-gradient: none;
}

.border-primary {
    --bs-border-opacity: 1;
    border-color: #fd7e14 !important;
}
.text-bg-primary {
    color: #fff !important;
    background-color: #fd7e14 !important;
}

.icon-square {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: .75rem;
}

.max {
    max-width: 1140px;
}

.maxfeature {
    max-width: 600px;
}

.accordion {
    --bs-accordion-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
    --bs-accordion-border-color: var(--bs-border-color);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    --bs-accordion-inner-border-radius: calc(var(--bs-border-radius) - (var(--bs-border-width)));
    --bs-accordion-btn-padding-x: 1.25rem;
    --bs-accordion-btn-padding-y: 1rem;
    --bs-accordion-btn-color: var(--bs-body-color);
    --bs-accordion-btn-bg: var(--bs-accordion-bg);
    --bs-accordion-btn-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    --bs-accordion-btn-icon-width: 1.25rem;
    --bs-accordion-btn-icon-transform: rotate(-180deg);
    --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
    --bs-accordion-btn-active-icon: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23052c65' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='m2 5 6 6 6-6'/%3e%3c/svg%3e);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(253, 125, 20, 0.39);
    --bs-accordion-body-padding-x: 1.25rem;
    --bs-accordion-body-padding-y: 1rem;
    --bs-accordion-active-color: rgba(61, 30, 3, 0.911);
    --bs-accordion-active-bg: rgba(255, 115, 0, 0.062);
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #fd7e14;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: #fd7d1459;
    outline: 4px solid #ffb578d3;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 4px solid #ffb578d3;
}

.feature-icon-small {
    width: 3rem;
    height: 3rem;
}

.map {
    position: absolute;
    inset-block-start: 88vh;
    inset-inline-start: 20vw;
}

.crop-img {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.authfooter {
    background-color: #b45a11;
}

.login {
    width: 38%
}