{% extends "main/basemain.html" %}
{% block error %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-danger d-flex align-items-center position-absolute error-alert fade show" role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" fill="currentColor" class="bi bi-exclamation-triangle-fill align-text-top me-2" viewBox="0 0 16 16">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
                <div class="me-2">{{ messages[0] }}</div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
{% block content %}
    <main class="container mt-4">
        <div class="modal fade" id="createNewClient" tabindex="-1" aria-labelledby="createNewClient" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createNewClientLabel">New Client Form</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post">
                        <input type="hidden" name="createClient">
                        <div class="modal-body">
                            {% set ns = namespace(counter = 1) %}
                            {% for column in columnHeaders %}
                                {% if column["name"] == "client_id" or column["name"] == "user_id" %}
                                {% elif column["name"] == "latitude" or column["name"] == "longitude" %}
                                    <div class="mb-3">
                                        <label class="form-label" for="{{ column['name'] }}">{{ column['name'].title() }}:</label>
                                        <input class="form-control" type="text" name="{{ column['name'] }}" id="{{ column['name'] }}" required>
                                        <div class="form-text">Enter coordinates in decimal format (e.g., 40.7128).</div>
                                    </div>
                                {% else %}
                                    <div class="mb-3">
                                        <label class="form-label" for="{{ column['name'] }}">{{ column['name'].title() }}:</label>
                                        <input class="form-control" type="text" name="{{ column['name'] }}" id="{{ column['name'] }}" required>
                                    </div>
                                    {% set ns.counter = ns.counter + 1 %}
                                {% endif%}
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if clients|length == 0 %}
        <div class="container text-center">
            <h2 class="display-6 fw-normal mb-3">No clients to display</h2>
            <p class="mb-0">It looks like there are no clients in the system yet.</p>
            <p class="mb-3">Add a client record to unlock territory mapping and route optimization.</p>
            <button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#createNewClient">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
                Create New Client
            </button>
        </div>
        {% else %}
            <div class="modal fade" id="deleteClient" tabindex="-1" aria-labelledby="deleteClient" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="deleteClientLabel">Delete Selected Clients?</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <div class="modal-body">
                                <p class="mb-3">This action is permanent and irreversible. Deleting these clients will immediately remove all associated records from the system.</p>
                                <p class="mb-3">Once confirmed, this information cannot be recovered.</p>
                                    <label for="confirmDeletion" class=" fw-bold">Type "DELETE" below to confirm this action:</label>
                                    <input class="form-control" type="text" name="confirmDeletion" id="confirmDeletion">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go Back</button>
                                <button type="submit" form="selectedClients" class="btn btn-danger" id="confirmDeletionButton" disabled>Delete Clients</button>
                            </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <h2 class="display-6 fw-normal mb-3">Clients</h2>
                    <div>
                        <button type="button" class="btn btn-primary mx-3" data-bs-toggle="modal" data-bs-target="#createNewClient">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                            </svg>
                            Create New Client
                        </button>
                        <button type="button" class="btn btn-danger" id="deleteClientButton" disabled data-bs-toggle="modal" data-bs-target="#deleteClient">
                            Delete Clients
                        </button>
                    </div>
            </div>
            <div class="container">
                <form method="post" id="selectedClients">
                    <input type="hidden" name="deleteClient">
                    <table id="clientTable" class="table table-hover mt-4">
                        <thead>
                            <tr style="cursor: pointer;">
                                <th scope="col"><input class="form-check-input" id="master" type="checkbox"></th>
                                {% set ns = namespace(counter = 1) %}
                                {% for column in columnHeaders %}
                                    {% if column["name"] == "client_id" or column["name"] == "user_id" %}
                                    {% else %}
                                        <th scope="col">{{ column["name"].title() }}<span id="arrow{{ ns.counter }}" class="inactive-arrow"></span></th>
                                        {% set ns.counter = ns.counter + 1 %}
                                    {% endif%}

                                {% endfor %}
                                <th scope="col" class="text-secondary">Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td><input type="checkbox" name ="client_id{{loop.index0}}" value="{{ client['client_id'] }}" class="form-check-input client-checkbox"></td>
                                    <td class="clientName">{{ client["name"] }}</td>
                                    <td class="clientType">{{ client["type"] }}</td>
                                    <td class="clientType">{{ client["address"] }}</td>
                                    <td class="clientLat">{{ "{0:0.3f}".format(client["latitude"]) }}</td>
                                    <td class="clientLon">{{ "{0:0.3f}".format(client["longitude"]) }}</td>
                                    <td>
                                        <a href="{{ url_for('main.single_client', client_id=client['client_id'])}}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        {% endif %}
    </main>
    <script src="{{ url_for('static', filename='js/clients.js') }}"></script>
{% endblock %}